@font-face {
font-family: 'ClashDisplay';
src: url('../fonts/ClashDisplay-Semibold.otf') format('opentype');
font-display: swap;
}
@font-face {
    font-family: 'Satoshi';
    src: url('../fonts/Satoshi-Regular.otf') format('opentype');
    font-display: swap;
}
body {
    font-family: 'Satoshi', sans-serif;
    position: relative;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'ClashDisplay', serif;
}

/***************************** Header Styling *****************************/
#wrapper-navbar{
    z-index: 999;
}
nav .container {
    background: rgba(15, 139, 130, 0.09) !important;
    backdrop-filter: blur(8px);
    box-shadow: #5d5d5d 1px 2px 0px;
    border: 1px solid;
}
.navbar-nav{
    background: rgba(255, 255, 255, 0.14) !important;
    backdrop-filter: blur(8px);
    padding: 10px 40px;
    gap: 49px;
}
.navbar-brand img{
    max-width: 220px;
}
.nav-link{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
.nav-link.active{
    font-weight: 600;
}
a.custom-cta{
    background: 
        radial-gradient(32.29% 32.29% at 50% 21.87%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%),
        radial-gradient(53.2% 22.92% at 49.6% 100%, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%),
        linear-gradient(270deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.4) 100%),
        #0F8B82;
    background-blend-mode: overlay, overlay, overlay, normal;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px #42B0A866;
    color: #fff;
    border-radius: 100px;
    padding: 18px 57px;
    font-family: Satoshi;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    letter-spacing: -2%;
}
a.custom-cta:hover{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.btn.custom-cta.bg-transparent{
    border: 1px solid #0F8B82;
}
/***************************** Hero Styling *****************************/
.hero-sec{
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-sec::before{
    content: '';
    position: absolute;
    bottom: 260px;
    right: 180px;
    width: 600px;
    height: 600px;
    background-image: url(../images/logo-for-hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 999;
}
.hero-sec::after{
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 757px;
    height: 497px;
    background-image: url('../images/hand-for-hero.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 757px;
}
.hero-sec h1{
    font-size: 78px;
    line-height: 88px;
    letter-spacing: 0;
    background: linear-gradient(93.84deg, #FFFFFF 51.54%, rgba(66, 176, 168, 0) 107.02%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
.hero-sec p{
    font-size: 18px;
}
.scroll-right{
    top: 110px;
    right: 150px;
}
.optimize-business{
    width: 100%;
    max-width: 210px;
    background: #FFFFFF12;
    padding: 19px 20px;
    position: relative;
    border-radius: 20px;
    backdrop-filter: blur(23.299999237060547px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    top: 160px;
    right: 650px;
}
.optimize-business ul{
    margin-bottom: 16px;
}
.grow-business{
    width: 100%;
    max-width: 210px;
    padding: 19px 20px;
    z-index: 999;
    bottom: 380px;
    right: 90px;
    backdrop-filter: blur(41.20000076293945px);
    background: #FFFFFF24;
    border-radius: 21px;
}
/***************************** Hero Styling *****************************/
section.about-us {
    padding: 183px 0px 100px 0px;
    background-position: right;
    background-size: 600px;
    background-repeat: no-repeat;
}
.about-us .row:first-child{
    position: absolute;
    top: 120px;
}
.about-us .row:last-child{
    z-index: 999;
    margin-top: 240px;
}
h2.about-main-heading {
    font-size: 212px;
    line-height: 185px;
    width: 100%;
    max-width: 997px;
    background: -webkit-linear-gradient(110deg, #ffffff 5%, #42B0A8 200%);
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
}
h2.about-main-heading::after {
    content: "";
    background-image: url('../images/heading-after.png');
    width: 170px;
    height: 76px;
    position: absolute;
    top: 85px;
    right: 140px;
}
.about-content-section {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    transform: translateY(-7.3rem);
}
.about-content-section .image {
    width: 50%;
}
.about-content-section .image img {
    vertical-align: middle;
    width: 100%;
    box-shadow: -39rem 10rem 200px -15rem #13BDB0;
}
.about-content-section .content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.about-content-section .content h2 {
    font-size: 40px;
    color: #011311;
    font-weight: 600;
}
.about-content-section .content p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 18px;
    font-weight: 500;
    width: 600px;
    color: #011311;
    box-shadow: 45rem -15rem 250px -5.3rem #13BDB0;
}
.about-content-section .content a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    border-radius: 40px;
    padding: 10px 34px;
    background: radial-gradient(#0F8B82 50%, #ffffff 150%);
    transition: 0.3ms ease-in;
    border: none;
    outline: none;
}
.about-content-section .content a:hover {
    box-shadow: 0 0 20px #0F8B82;
    background: radial-gradient(#0F8B82 100%, #ffffff 160%);
}
/***************************** Services Styling *****************************/
.our-services .content {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.our-services .content h2 {
    text-align: center;
    font-size: 4rem;
    background: -webkit-linear-gradient(40deg, #011311 50%, #42B0A8 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 600;
}
.our-services .content p {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    width: 50%;
}
.our-services .service-slider {
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.service-card {
    background-color: #E7FAF9;
    width: 642px;
    height: 585px;
    border: 2px solid white;
    border-radius: 40px;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #011311;
    transition: 0.2s ease-in;
}
.service-card:hover {
    background-color: #002D28;
    border-color: #002D28;
    box-shadow: 0px 20px 50px 0px #00A69B;
    color: white;
}
.service-card .images {
    width: 100%;
}
.service-card .images img {
    width: 100%;
}
.service-card .innerContent {
    width: 90%;
}
.service-card .innerContent h2 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}
.service-card .innerContent p {
    font-size: 17px;
    font-weight: 500;
}
.parent-slider {
    width: 100%;
    height: max-content;
}
.swiper {
    width: 100%;
    height: auto;
}
.parent-slider .swiper .swiper-wrapper .swiper-slide {
    background-color: #E7FAF9;
    width: 642px !important;
    height: 585px !important;
    border: 3px solid #E7FAF9;
    border-radius: 40px;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #011311;
    transition: 0.2s ease-in;
    cursor: pointer;
    margin-bottom: 50px;
}
.parent-slider .swiper .swiper-wrapper .swiper-slide:hover {
    background-color: #002D28;
    border-color: #002D28;
    box-shadow: 0px 20px 50px 0px #00A69B;
    color: white;
}
.parent-slider .swiper .swiper-wrapper .swiper-slide-active {
    transform: scale(1);
}
/***************************** Projects Styling *****************************/
.project-sec{
    padding: 183px 0 80px 0;
}
.project-sec h2 {
    font-weight: 500;
    font-size: 212.03px;
    line-height: 185px;
    letter-spacing: 0;
    background: linear-gradient( 337.56deg, rgba(255, 255, 255, 0) -14.94%, #42B0A8 128.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
.project-sec .mySwiper {
  width: 100%;
  padding: 40px 0;
}
.project-sec .mySwiper .swiper-slide {
  width: 60%;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0.6;
  transform: scale(0.8);
}
.project-sec .mySwiper .swiper-slide-active {
    opacity: 1;
    transform: scale(1.1);
    z-index: 2;
}
.project-sec .mySwiper img {
    width: 100%;
}
.project-sec .swiper-slide h3{
    font-size: 36px;
}
.project-sec .swiper-slide p{
    font-size: 18px;
}
.project-sec .swiper-button-next{
    right: 70px;
    width: 217px;
}
.project-sec .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    content: inherit;
}
/***************************** Why Choose Styling *****************************/
.why-choose-sec ul {
    z-index: 999;
}
.why-choose-sec li h3 {
    font-size: 36px;
}
.why-choose-sec li p {
    font-size: 18px;
}
.why-choose-sec {
    padding-top: 130px;
    padding-bottom: 197px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.why-choose-sec .row:first-child{
    padding-bottom: 84px;
}
.why-choose-sec .marquee {
  width: 100%;
  white-space: nowrap;
  box-sizing: border-box;
  bottom: -17px;
}
.why-choose-sec .marquee-content {
  display: inline-flex;
  animation: marquee 15s linear infinite;
}
.why-choose-sec .marquee-content h4 {
  font-size: 290px;
  line-height: 210px;
  color: #42b0a824;
}
@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
/***************************** Testimonial Styling *****************************/
.testimonials-sec {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 152px 0 0px 0;
}
.testimonials-sec .swiper-slide{
    padding: 100px 0;
}
.testimonial-item{
    width: 100%;
    max-width: 580px;
    height: 580px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-color: #42b0a84d;
    border-style: solid;
    border-width: 20px !important;
    box-shadow: 
  rgba(66, 176, 168, 0.35) 0px 20px 90px, 
  rgba(66, 176, 168, 0.20) 0px -20px 45px, 
  rgba(66, 176, 168, 0.25) 0px 10px 20px, 
  rgba(66, 176, 168, 0.30) 0px 20px 35px, 
  rgba(66, 176, 168, 0.15) 0px -8px 15px;
}
.testimonials-sec .swiper-button-prev:after, .testimonials-sec .swiper-button-next:after{
    content: inherit;
}
.testimonials-sec .swiper-button-prev.testi-prev, .testimonials-sec .swiper-button-next.testi-next {
    width: 70px;
    height: 70px;
    border: 1px solid #42B0A8;
    border-radius: 100px;
}
.testimonials-sec .swiper-button-prev.testi-prev:hover, .testimonials-sec .swiper-button-next.testi-next:hover {
    background: 
    radial-gradient(32.29% 32.29% at 50% 21.87%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%),
    radial-gradient(53.2% 22.92% at 49.6% 100%, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(270deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.4) 100%),
    #0F8B82;
}
.testimonials-sec .swiper-button-prev.testi-prev:hover img, .testimonials-sec .swiper-button-next.testi-next:hover img {
    filter: invert(1) brightness(100);
}
/***************************** Blogs Styling *****************************/
.blog-sec{
    padding-bottom: 100px;
}
.blog-sec h2{
    font-size: 70px;
    margin-bottom: 54px;
    background: linear-gradient(90deg, #011311 21.75%, #42B0A8 110.9%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

}
.card{
    transition: 0.2s ease-in-out;
}
.card:hover{
    background: #42B0A8;
    box-shadow: 0px 61px 107px 0px #42B0A880 !important;
}
.card-title {
    font-size: 30px;
    color: #000;
}
.card:hover .card-title, .card:hover .card-text, .card:hover .card-date {
    color: #fff;
}
.card:hover .card-date span > img {
    filter: invert(1) brightness(100);
}
.card:hover .custom-cta{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}
/***************************** Footer Styling *****************************/
footer {
    padding-top: 158px;
    padding-bottom: 158px;
    background-image: url('../images/footer-bg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-sec .container{
    z-index: 999;
}
.footer-sec h2{
    font-size: 70px;
    background: linear-gradient(93.84deg, #FFFFFF 51.54%, rgba(15, 139, 130, 0) 107.02%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent !important;
}
.footer-sec p.footer-header-text{
    font-size: 18px;
}
.footer-sec .left-hand{
    bottom: -120px;
    left: 0;
    max-width: 737px;
}
.footer-sec .right-hand{
    top: -120px;
    right: 0;
    max-width: 737px;
}
.footer-menus ul{
    gap: 24px;
}
.footer-sec .marquee {
  width: 100%;
  white-space: nowrap;
  box-sizing: border-box;
  bottom: -77px;
}
.footer-sec .marquee-content {
  display: inline-flex;
  animation: marquee 15s linear infinite;
}
.footer-sec .marquee-content h4 {
  font-size: 290px;
  line-height: 210px;
  color: #42b0a824;
}
@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}